@import '~antd/dist/antd.css';

.ant-btn-link{
  color: black;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
}